.margin-row {
  margin: 10px 0;
}

.margin-btn {
  margin-left: 10px;
}

.display-none {
  display: none;
}

.margin-lg {
  margin-left: 15px;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  margin-left: 10px;
}